<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fanshawe.device" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Lab 2</name>
  <description>
    App to log device info
  </description>
  <author email="b_littleton2@fanshaweonline.ca" href="https://www.github.com/bLittle1996/info-3113">
  </author>
  <content src="index.html" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
  <icon src="icon.png" />
  <platform name="android">
    <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
    <splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
    <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
  </platform>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>
