<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fanshawe.device" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Lab 2</name>
  <description>
    App to log device info
  </description>
  <author email="b_littleton2@fanshaweonline.ca" href="https://www.github.com/bLittle1996/info-3113">
  </author>
  <content src="index.html" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
  <icon src="icon.png" />
  <platform name="android">
    <icon density="ldpi" src="www/res/icon/android/LDPI.png" />
    <icon density="mdpi" src="www/res/icon/android/MDPI.png" />
    <icon density="hdpi" src="www/res/icon/android/HDPI.png" />
    <icon density="xhdpi" src="www/res/icon/android/XHDPI.png" />
    <icon density="xxhdpi" src="www/res/icon/android/XXHDPI.png" />
    <icon density="xxxhdpi" src="www/res/icon/android/XXXHDPI.png" />
    <splash density="land-ldpi" src="www/res/screen/android/LDPI-Land.png" />
    <splash density="land-mdpi" src="www/res/screen/android/MDPI-Land.png" />
    <splash density="land-hdpi" src="www/res/screen/android/HDPI-Land.png" />
    <splash density="land-xhdpi" src="www/res/screen/android/XHPDI-Land.png" />
    <splash density="land-xxhdpi" src="www/res/screen/android/XXHDPI-Land.png" />
    <splash density="land-xxxhdpi" src="www/res/screen/android/XXXHDPI-Land.png" />
    <splash density="port-ldpi" src="www/res/screen/android/LDPI-Port.png" />
    <splash density="port-mdpi" src="www/res/screen/android/MDPI-Port.png" />
    <splash density="port-hdpi" src="www/res/screen/android/HDPI-Port.png" />
    <splash density="port-xhdpi" src="www/res/screen/android/XHPDI-Port.png" />
    <splash density="port-xxhdpi" src="www/res/screen/android/XXHDPI-Port.png" />
    <splash density="port-xxxhdpi" src="www/res/screen/android/XXXHDPI-Port.png" />
  </platform>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>
